<div class="container-fluid main-container">
  <div class="row mt-5 ml-0 mr-0 justify-content-center">
    <div class="col-12 ml-0 mb-4">
      <div class="col-12 mb-4">
        <div class="row">
          <div
            class="col-12 row d-flex justify-content-center justify-content-sm-between search-bar-container"
          >
            <form class="form col-12 col-sm-6 d-flex justify-content-center">
              <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input
                  class="search-input"
                  placeholder="Pretrazi..."
                  [(ngModel)]="searchTerm"
                  name="searchTerm"
                  (input)="filterAds()"
                />
              </div>
            </form>
            <div
              class="dropdown-container mt-1 col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end"
            >
              <p-dropdown
                id="sortDropdown"
                [options]="options"
                [(ngModel)]="selectedOption"
                placeholder="Sortirajte po:"
                (onChange)="filterAdsDropdown()"
                optionLabel="name"
                [style]="{ width: '250px' }"
                class="dropDown"
              >
                <ng-template let-option pTemplate="item">
                  <div class="d-flex align-items-center">
                    <i [class]="option.icon" style="margin-right: 10px"></i>
                    <span>{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row d-flex justify-content-around"
        style="padding-bottom: 60px"
      >
        <app-advert-card
          *ngFor="let advert of adverts.data"
          [description]="advert.description"
          [advertId]="advert.id"
          [image_1]="environment.API_URL + '/uploads/' + advert.image_one"
          [image_2]="environment.API_URL + '/uploads/' + advert.image_two"
          [video]="environment.API_URL + '/uploads/' + advert.video"
          [header]="advert.title"
          [sellerName]="advert.expert.firstName + ' ' + advert.expert.lastName"
          [rating]="advert.averageGrade"
          [sellerImage]="
            environment.API_URL + '/uploads/' + advert.expert.avatar
          "
        >
        </app-advert-card>
      </div>
    </div>
    <p-paginator
      class="mb-5"
      #paginator
      [first]="first"
      [rows]="rows"
      [totalRecords]="adverts.meta?.itemCount"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{ reportMessage }}"
      (onPageChange)="onPageChange($event)"
      [rowsPerPageOptions]="rowsPerPageOptions"
    ></p-paginator>
  </div>
</div>
