<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title></title>
  </head>

  <body
    style='font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;'
  >
    <table
      width='100%'
      cellpadding='0'
      cellspacing='0'
      style='margin-top: 20px;'
    >
      <tr>
        <td align='center'>
          <table
            width='600'
            cellpadding='0'
            cellspacing='0'
            style='background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);'
          >
            <tr>
              <td align='center' style='padding: 20px 0;'>
                <h1 style='font-size: 24px; color: #4b5563;'>Potvrdite Vašu
                  Email Adresu</h1>
              </td>
            </tr>
            <tr>
              <td style='padding: 10px 20px; font-size: 16px; color: #4b5563;'>
                <p>Zdravo,</p>
                <p>Hvala Vam što ste se registrovali na našem sajtu. Molimo Vas
                  da potvrdite Vašu email adresu klikom na donji link:</p>
              </td>
            </tr>
            <tr>
              <td align='center' style='padding: 20px;'>
                <a
                  href='{{url}}/auth/verification/confirm?email={{email}}&token={{verificationToken}}'
                  style='background-color: #3B82F6; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;'
                >
                  Potvrdite email adresu
                </a>
              </td>
            </tr>
            <tr>
              <td style='padding: 20px; font-size: 14px; color: #6b7280;'>
                <p>Ako niste kreirali nalog, molimo Vas da zanemarite ovaj
                  email.</p>
                <p>Hvala,</p>
                <p>tim Pitaj Stručnjaka</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>

</html>