.image {
  width: 100px;
  height: 100px;
}

.message-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

@media (max-width: 525px) {
  .image {
    width: 80px;
    height: 80px;
  }

  h1 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}
