<div
  class="container w-100 vh-100 d-flex justify-content-center align-items-center"
>
  <p-card class="card" [style]="{ 'border-radius': '14px' }">
    <div class="w-100 h-100 py-2 px-4">
      <h1>Nova lozinka</h1>
      <p>Unesite vasu novu lozinku.</p>
      <form class="w-100" [formGroup]="resetPasswordForm">
        <div class="row">
          <div class="col-12 mt-2">
            <p-password
              placeholder="Lozinka"
              class="p-inputtext-sm"
              formControlName="password"
              [toggleMask]="true"
              promptLabel="Unesite lozinku"
              weakLabel="Previse jednostavno"
              mediumLabel="Srednja slozenost"
              strongLabel="Slozena lozinka"
              [ngClass]="
                resetPasswordForm.controls['password'].invalid &&
                (resetPasswordForm.controls['password'].dirty ||
                  resetPasswordForm.controls['password'].touched)
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              [tooltipDisabled]="
                !(
                  resetPasswordForm.controls['password'].invalid &&
                  (resetPasswordForm.controls['password'].dirty ||
                    resetPasswordForm.controls['password'].touched)
                )
              "
              [pTooltip]="
                resetPasswordForm.controls['password'].errors?.['required'] && 'Polje ne sme biti prazno' ||
                resetPasswordForm.controls['password'].errors?.['minlength'] && 'Sifra mora sadrzati najmanje 8 karaktera' ||
                resetPasswordForm.controls['password'].errors?.['maxlength'] && 'Sifra mora sadrzati najvise 32 karaktera'
              "
            ></p-password>
          </div>
          <div class="col-12 mt-2">
            <p-password
              placeholder="Potvrdite lozinku"
              class="p-inputtext-sm"
              formControlName="confirmPassword"
              [feedback]="false"
              [toggleMask]="true"
              [ngClass]="
                resetPasswordForm.controls['confirmPassword'].invalid &&
                (resetPasswordForm.controls['confirmPassword'].dirty ||
                  resetPasswordForm.controls['confirmPassword'].touched)
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              [tooltipDisabled]="
                !(
                  resetPasswordForm.controls['confirmPassword'].invalid &&
                  (resetPasswordForm.controls['confirmPassword'].dirty ||
                    resetPasswordForm.controls['confirmPassword'].touched)
                )
              "
              [pTooltip]="
                resetPasswordForm.controls['confirmPassword'].errors?.['required'] && 'Polje ne sme biti prazno' ||
                resetPasswordForm.controls['confirmPassword'].errors?.['minlength'] && 'Sifra mora sadrzati najmanje 8 karaktera' ||
                resetPasswordForm.controls['confirmPassword'].errors?.['maxlength'] && 'Sifra mora sadrzati najvise 32 karaktera'
              "
            ></p-password>
          </div>
          <div class="col-12">
            <button
              pButton
              pRipple
              class="mt-3 w-100"
              size="small"
              [label]="isLoading ? '' : 'Posalji'"
              [loading]="isLoading"
              [disabled]="resetPasswordForm.invalid"
              (click)="onResetPassword()"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
