.card {
  width: 420px;
  border-radius: 50px;
}

.card p {
  color: var(--text-color-secondary);
  font-size: small;
}

/* POCETAK MENJANJA PRIMENG KLASE */

/* MENJANJE P PASSWORD KLASE */
.p-password,
.p-password input {
  width: 100%;
}
