<div class="col-12" [style]="{ height: '350px', top: '30px' }">
  <p-card>
    <header class="text-center">
      <h4 class="mt-0 mb-0">Trenutno stanje vaseg racuna</h4>
      <h2 class="mt-1 mb-1">
        {{ balance }}<i class="fa-solid fa-coins" style="margin-left: 8px"></i>
      </h2>
    </header>
    <p-divider class="mt-0" />

    <div class="row">
      <div class="col-12">
        <button
          pButton
          pRipple
          label="Dopuni kredit"
          class="p-button-primary w-100 mb-1 p-3"
          [routerLink]="fullUrl + '/amount'"
        ></button>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <p-button
          class="p-button-service"
          label="Istorija placanja"
          [text]="true"
          severity="info"
          [routerLink]="fullUrl + '/history-service'"
        />
      </div>
    </div>
  </p-card>
</div>
