<!-- <p-confirmDialog /> -->
<h3>Izmeni oglas</h3>
<p-divider></p-divider>
<div class="row">
  <div class="col-md-8">
    <p-card class="mb-3">
      <h4 class="mt-0">Izmenite osnovne informacije</h4>

      <div class="mb-3 d-flex flex-column">
        <label for="name" class="mb-1">Naslov</label>
        <input
          pInputText
          id="name"
          aria-describedby="name-help"
          placeholder="Unesite naslov za Vas oglas."
          style="font-size: 0.8rem"
        />
      </div>

      <div class="mb-3 d-flex flex-column">
        <label for="adDescription" class="mb-1">Opis</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [autoResize]="true"
          placeholder="Unesite opis za Vas oglas."
          style="font-size: 0.8rem"
        ></textarea>
      </div>
    </p-card>

    <div class="mt-3 mb-3">
      <p-card>
        <div class="mb-3 d-flex flex-column gap-2">
          <h4 class="mb-3 mt-0">Izmenite kategorije</h4>
          <span class="p-fluid">
            <p-autoComplete
              placeholder="Unesite kategorije vezane za Vas oglas."
              [(ngModel)]="selectedCategories"
              [suggestions]="chosenCategories"
              (completeMethod)="search($event)"
              [multiple]="true"
            />
          </span>
        </div>
      </p-card>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="mb-3">
      <p-card>
        <h4 class="mt-0">Izmenite status oglasa</h4>
        <p-toggleButton
          [ngModel]="checked"
          (ngModelChange)="toggleChecked($event)"
          onLabel="Aktivan"
          offLabel="Neaktivan"
        >
        </p-toggleButton>
      </p-card>
    </div>

    <div class="row pl-3 pr-3" style="display: flex; justify-content: flex-end">
      <p-button [text]="true" routerLink="..">Otkazi</p-button>
      <!-- <p-button [text]="true" routerLink=".." (click)="confirm($event)"
        >Otkazi</p-button
      > -->
      <p-button>Sacuvaj</p-button>
    </div>
  </div>
</div>
