<div class="container-fluid">
  <div class="row">
    <!-- Chat List -->
    <div class="col-3 bg-light chat-list">
      <div class="mb-3"><h3 class="mb-0 mt-1">Razgovori</h3></div>
      <!--Search is here-->
      <div class="mb-4">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            style="height: 32px; width: 100%; font-size: smaller"
            pInputText
            placeholder="Pretrazi razgovore"
          />
        </p-iconField>
      </div>

      <div class="list-group">
        <p-scrollPanel *ngFor="let chat of chats; let i = index">
          <div
            class="list-group-item list-group-item-action chat-list-item"
            (click)="selectChat('chat{{i+1}}')"
          >
            <div class="row">
              <div class="col-auto pr-0">
                <p-avatar
                  image="{{ chat.profilePicture }}"
                  size="large"
                  shape="circle"
                ></p-avatar>
              </div>
              <!-- Text Column -->
              <div class="col">
                <h6 class="mt-0 mb-0">{{ chat.name }}</h6>
                <div class="d-flex" style="align-items: center">
                  <img
                    src="{{ chat.chatStatus }}"
                    style="
                      height: 20px;
                      width: 20px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin-right: 1.5px;
                    "
                  />
                  <label style="font-size: smaller">{{
                    limitText(chat.chat)
                  }}</label>
                </div>
              </div>
            </div>
          </div>
          <p-divider></p-divider>
        </p-scrollPanel>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
