<div class="sidebar-cont" [ngClass]="isSidebarVisible ? 'expand' : ''">
  <aside id="sidebar" [ngClass]="isSidebarVisible ? 'expand' : ''">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="pi pi-th-large" (click)="toggleSidebar()"></i>
      </button>
      <div class="sidebar-logo">
        <a routerLink="/">Pitaj Strucnjaka</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="/panel/admin/ticket-list" class="sidebar-link">
          <i class="fa-solid fa-headphones-simple"></i>
          <span>Pomoc</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/panel/admin/mailing-list" class="sidebar-link">
          <i class="fa-sharp fa-regular fa-mailbox"></i>
          <span>Ponude i promocije</span>
        </a>
      </li>
    </ul>
    <div class="mt-0 mb-0">
      <li class="sidebar-item">
        <a routerLink="/panel/admin/profile" class="sidebar-link">
          <i class="pi pi-user"></i>
          <span>Profil</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/panel/admin/profile" class="sidebar-link">
          <i class="fa-light fa-gear"></i>
          <span>Podesavanja</span>
        </a>
      </li>
    </div>
    <div class="sidebar-footer">
      <a class="sidebar-link" (click)="logout()" style="cursor: pointer">
        <i class="pi pi-sign-out"></i>
        <span>Izlogujte se</span>
      </a>
    </div>
  </aside>
</div>