<div class="container faq-container">
  <p class="faq-small">CESTO POSTAVLJANA PITANJA(FAQ)</p>
  <h1>Sve sto je neophodno da znate o nama</h1>
  <p-accordion>
    <p-accordionTab header="Kako mogu pronaći stručnjaka za određenu oblast na ovoj platformi?">
      <p>
        Naša platforma omogućava pretragu stručnjaka po oblastima znanja,
        veštinama i iskustvu. Korisnici mogu koristiti filtere kako bi pronašli
        savršenog stručnjaka za svoje potrebe.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="Kako se vrši naplata za usluge stručnjaka na platformi? Da li postoji sistem ocenjivanja stručnjaka?">
      <p>
        Plaćanje za usluge stručnjaka se vrši putem naše sigurne platforme.
        Korisnici mogu ocenjivati stručnjake nakon korišćenja usluga, što pomaže
        u održavanju visokog standarda kvaliteta.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Da li postoji mogućnost planiranja zakazanih sastanaka sa stručnjacima unapred?">
      <p>
        Da, naša platforma omogućava korisnicima da zakazuju sastanke unapred sa
        stručnjacima. To olakšava planiranje i omogućava korisnicima da
        rezervišu vreme koje im najbolje odgovara.
      </p>
    </p-accordionTab>
    <p-accordionTab
      header="Koja je sigurnosna politika platforme u vezi sa deljenjem privatnih informacija tokom video poziva i poruka?">
      <p>
        Bezbednost i privatnost korisnika su naš prioritet. Naša platforma
        koristi enkripciju podataka kako bi osigurala sigurnu komunikaciju
        između korisnika. Pored toga, imamo stroge smernice o privatnosti koje
        štite lične podatke korisnika.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Kako se mogu pridružiti kao stručnjak na ovoj platformi i koje su koristi?">
      <p>
        Stručnjaci mogu aplicirati za pridruživanje našoj platformi putem
        procesa registracije. Neke od povoljnosti su pristup globalnoj mreži
        korisnika, mogućnost zarade pružanjem svojih usluga i priliku za
        izgradnju sopstvene reputacije u svojoj oblasti ekspertize.
      </p>
    </p-accordionTab>
  </p-accordion>
</div>