<aside id="sidebar">
  <div class="d-flex">
    <button class="toggle-btn" type="button">
      <i class="pi pi-th-large"></i>
    </button>
    <div class="sidebar-logo">
      <a href="#">CodzSword</a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a routerLink="/panel/expert/home" class="sidebar-link">
        <i class="pi pi-home"></i>
        <span>Pocetna</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/panel/expert/profile" class="sidebar-link">
        <i class="pi pi-user"></i>
        <span>Profil</span>
      </a>
    </li>
    <!-- <li class="sidebar-item">
        <a
          href="#"
          class="sidebar-link collapsed has-dropdown"
          data-bs-toggle="collapse"
          data-bs-target="#auth"
          aria-expanded="false"
          aria-controls="auth"
        >
          <i class="lni lni-protection"></i>
          <span>Auth</span>
        </a>
        <ul
          id="auth"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Login</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Register</a>
          </li>
        </ul>
      </li> -->
  </ul>
  <div class="sidebar-footer">
    <a href="#" class="sidebar-link">
      <i class="pi pi-sign-out"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>
