<div class="main p-3">
  <div class="container-fluid">
    <h3>Placanje</h3>
    <p-divider></p-divider>

    <div class="row ml-3">
      <h5 class="mt-0 mb-2">Istorija plaćanja usluga</h5>
    </div>

    <div class="row ml-3">
      <div class="col-md-10 col-sm-12 pr-0 pl-0">
        <div class="card">
          <p-table
            [value]="getDisplayedBills()"
            class="custom-table table-hover"
            [scrollable]="true"
          >
            <ng-template pTemplate="body" let-product>
              <tr>
                <td class="pr-0">{{ product.paymentDate }}</td>
                <td class="p-0 text-center">{{ product.title }}</td>
                <td class="p-0">
                  {{ product.tokens }}
                  <i class="fas fa-coins" style="color: #191970"></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <p-paginator
          class="mb-5"
          #paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="BILL_PER_PAGE"
          [totalRecords]="totalRecords"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>
